{% extends 'layout.html' %}

{% block title %}Me{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container mt-4">
    <!-- Section: About Me -->
    <section id="about-me">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="mb-4">About Me</h2>
                <p>
                    Hello! I am Mohammed Derouiche, a Data Analyst and Control System Engineer. With a passion for
                    data analysis and a background in control systems engineering, I created this platform to
                    provide valuable insights into job trends and salary data across various regions.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Vivamus
                    ullamcorper, justo ut efficitur accumsan, risus velit gravida turpis, et eleifend ex turpis ac
                    justo. Nulla facilisi.
                </p>
                <!-- Add LinkedIn and GitHub links here -->
                <p>
                    Connect with me on LinkedIn: <a href="Your LinkedIn Link" target="_blank">LinkedIn</a>
                </p>
                <p>
                    Check out my GitHub: <a href="https://github.com/MohammedDerouiche" target="_blank">GitHub</a>
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}

